:root {
  --clr-rait:           #EDC85B;
  --clr-bg-vet:         #EB6C44;
  --clr-bg-grooming:    #EDC85B;
  --clr-bg-overexposure:#5B72ED;
  --clr-bg-paddock:     #D355DE;
  --clr-bg-dogsitting:  #86D754;
  --clr-bg-petsupplies: #54BFD7;
  --clr-bg-button:      #fff;
  body.dark{
    --clr-white:             #fff;
    --clr-dark:              #263441;
    --clr-darg-alt:          #334557;
    --clr-blue:              #4385FF;
    --clr-error:             #DB4437;
    --clr-green:             #009688;
    --clr-grey:              #c2c7cc;
    --clr-input-placeholder: rgba(0, 0 , 0, .7);

    --clr-txt:               rgba(255, 255 , 255, .87);
    --clr-txt-light:         rgba(255, 255 , 255, .7);
    --clr-txt-back:          #aaa;
    --clr-input:             var(--clr-txt);
    --clr-placeholder:       var(--clr-txt-light);

    --clr-main-title:       var(--clr-blue);
    --clr-link:             var(--clr-blue);

    --clr-bg-body:          #DCDCDC;
    --clr-bg-main:          var(--clr-dark);
    --clr-border:           rgba(220, 220, 220, .5);
    --clr-border-focus:     var(--clr-txt-light);
    --clr-active-input:     rgba(196, 196, 196, .2);

    --clr-main-btn-bg:      var(--clr-blue);
    --clr-main-btn-txt:     var(--clr-white);

    --clr-clr-overlay-bg:   rgba(0, 0, 0, .6);
    --clr-clr-popup-bg:     var(--clr-darg-alt);
    --clr-clr-popup-brd:    var(--clr-darg-alt);

    --clr-code-input-bg:    var(--clr-darg-alt);
    --clr-code-input-bg-focus: var(--clr-white);
    --clr-code-input-txt:   var(--clr-txt);
    --clr-code-input-txt-focuse: var(--clr-dark);
    --clr-code-input-brd:   var(--clr-darg-alt);
    --clr-code-input-brd-focus: var(--clr-white);
    --clr-code-input-placeholder: var(--clr-input-placeholder);
    --clr-code-input-shd: 0 .4rem .4rem rgba(0, 0, 0, .25);

    --clr-header-bg: var(--clr-darg-alt);
    --clr-header-btn: var(--clr-txt-light);
    
    --clr-footer-border: var(--clr-darg-alt);
    --clr-footer-bg: var(--clr-darg-alt);
    
    --clr-fix-searc-bg: var(--clr-darg-alt);
    --clr-fix-searc-txt: var(--clr-txt-light);
    --clr-fix-searc-brd: var(--clr-darg-alt);
    --clr-fix-searc-placeholder: var(--clr-txt-light);
    
    --clr-popup: var(--clr-darg-alt);
    
    //тени
    --shd-main: none;
    --shd-popup: 0 .4rem .4rem rgba(0, 0, 0, .25);
  }
  body.light{
    --clr-white:             #fff;
    --clr-white-bg:          #FAFAFA;
    --clr-dark:              #263441;
    --clr-darg-alt:          #334557;
    --clr-blue:              #4385FF;
    --clr-error:             #DB4437;
    --clr-green:             #009688;
    --clr-grey:              #c2c7cc;
    --clr-input-placeholder: rgba(0, 0 , 0, .7);
    
    --clr-txt:               rgba(0, 0 , 0, .87);
    --clr-txt-light:         rgba(0, 0 , 0, .6);
    --clr-txt-back:          #aaa;
    --clr-input:             var(--clr-txt);
    --clr-placeholder:       var(--clr-txt-light);
    --clr-dark:              var(--clr-txt);
    
    --clr-main-title:       rgba(67, 133, 255, .87);
    --clr-link:             rgba(67, 133, 255, .6);
    
    --clr-bg-body:          #DCDCDC;
    --clr-bg-main:          var(--clr-white);
    --clr-border:           #DCDCDC;
    --clr-border-focus:     var(--clr-txt-light);
    --clr-active-input:     rgba(196, 196, 196, .2);
    
    --clr-main-btn-bg:      var(--clr-blue);
    --clr-main-btn-txt:     var(--clr-white);
      
    --clr-clr-overlay-bg:   rgba(0, 0, 0, .6);
    --clr-clr-popup-bg:     var(--clr-white);
    --clr-clr-popup-brd:    var(--clr-border);
      
    --clr-code-input-bg:    var(--clr-white);
    --clr-code-input-bg-focus: var(--clr-white);
    --clr-code-input-txt:   var(--clr-txt);
    --clr-code-input-txt-focuse: var(--clr-txt);
    --clr-code-input-brd:   var(--clr-border);
    --clr-code-input-brd-focus: var(--clr-border-focus);
    --clr-code-input-placeholder: var(--clr-txt-light);
    --clr-code-input-shd: none; 
    
    --clr-header-bg: var(--clr-white-bg);
    --clr-header-btn: --clr-txt-light;
    
    --clr-footer-border: var(--clr-border);
    --clr-footer-bg: var(--clr-white-bg);
    
    --clr-fix-searc-bg: var(--clr-white);
    --clr-fix-searc-txt: var(--clr-txt-light);
    --clr-fix-searc-brd: var(--clr-border);
    --clr-fix-searc-placeholder: var(--clr-txt-light);
    
    --clr-popup: var(--clr-white-bg);
      
    //тени
    --shd-main: none;
    --shd-popup: 0 .4rem .4rem rgba(0, 0, 0, .25);
  }
  //шрифты
  --font-main: 'Roboto', 'Arial', sans-serif;
}