.animals{
  margin: 1rem 0 1.6rem;
  &:first-child{margin-top: 0;}
  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #DCDCDC;
    padding: .6rem 0 .6rem .8rem;
    &:last-child{
      border-bottom: none;
    }
    &-main{
      display: flex;
      align-items: center;
      justify-content: flex-start;  
      max-width: calc(100% - 3rem);
    }
    &-icn{
      display: block;
      width: 2.4rem;
      margin-right: 1rem;
    }
    &-name{
      @include txt-s;
      color: rgba(0, 0, 0, .6);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;      
    }    
  }
  &__check{
    font-size: 0;
    width: 2.4rem;
    overflow: hidden;
    opacity: 0;
    .material-icons{
      font-size: 2.4rem;
      color: var(--clr-green);
    }
  }
  input{
    display: none;
    &:checked + .animals__item-main .animals__item-name{color: var(--clr-green);}
    &:checked ~ .animals__check{opacity: 1;}
  }
  &_custom{
    .animals__item{border-color: var(--clr-border);}
    .animals__item-name{
      color: var(--clr-txt-light);
    }
  }
}