/*baisic*/
html{
  -webkit-locale: "ru-RU";
  direction: ltr;
  unicode-bidi: isolate;
  min-height: 100%;
}
html, body{
  min-height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
html{
  font-size: 11px;
  @media only screen and (max-width : 479px){font-size: 10px;}
  @media only screen and (max-width : 359px){font-size: 9px;}
}
body{
  @include txt-l;
  color: var(--clr-txt);
  background: var(--clr-bg-body);
  min-width: 310px; 
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

/*clearfix*/
.clearfix{
  zoom: 1;
  &:before,
  &:after{
    content: '';
    display: table;
  }
  &:after{clear: both;}
}

/*box-sizing*/
*, *:before, *:after, input[type="search"]{
  box-sizing: border-box;
}

/*typographyc*/
ol,ul,li,h1,h2,h3,h4,h5,h6,p,q,figure,figcaption,blockquote,cite,fieldset,hr{    
  margin:0;
  padding: 0;    
  border: none;
}
ul li, ol li{list-style: none;}
a{
  text-decoration: none;
  outline: none;
  transition: .25s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:-moz-any-link:focus ,
  &:-moz-focusring,
  &::-moz-focus-inner,
  &::-moz-focus-outer{
    outline: 0!important;
    outline: none;
  }
  &:active {outline: none;}
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.material-icons{font-size: 2.4rem;}

.clr-bg-vet,
.clr-bg-grooming,
.clr-bg-overexposure,
.clr-bg-paddock,
.clr-bg-dogsitting,
.clr-bg-petsupplies{
  color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.clr-bg-vet{background-color: var(--clr-bg-vet)}
.clr-bg-grooming{background-color: var(--clr-bg-grooming)}
.clr-bg-overexposure{background-color: var(--clr-bg-overexposure)}
.clr-bg-paddock{background-color: var(--clr-bg-paddock)}
.clr-bg-dogsitting{background-color: var(--clr-bg-dogsitting)}
.clr-bg-petsupplies{background-color: var(--clr-bg-petsupplies)}
.clr-bg-button{
  background-color: var(--clr-bg-button);
  border: 1px solid #DCDCDC;
  color: rgba(0, 0, 0, .6);
}

/*form*/
.input{
  /*reset*/
  @include input-reset;
  /*my styles*/
  color: var(--clr-input);
  background-color: var(--clr-bg-main);
  border: 1px solid var(--clr-border);
  /*placeholder*/
  &::-webkit-input-placeholder{opacity: 1; color: var(--clr-placeholder);}
  &::-moz-placeholder{opacity: 1; color: var(--clr-placeholder);}
  &:-moz-placeholder{opacity: 1; color: var(--clr-placeholder);}
  &:-ms-input-placeholder{opacity: 1; color: var(--clr-placeholder);}
  &:placeholder{opacity: 1;color: var(--clr-placeholder);}
  /*webkit autocomplit input*/
  &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 100px var(--clr-input) !important;
      -webkit-text-fill-color: var(--clr-bg-main) !important;
      color: var(--clr-bg-main) !important;
  }
  /*error*/
  &.error{
      border-color: var(--clr-error);
  }
}
.fieldset{
  @include fieldset-reset;
}
.textarea{  
  /*reset*/
  @include input-reset;
  @include textarea-reset;
  /*my styles*/
  color: rgba(0, 0 , 0, .87);
  background-color: #fff;
  border: 1px solid var(--clr-border);
  padding: 1.2rem 1.6rem;
  height: 14.8rem;
  border-radius: .4rem;
  /*placeholder*/
  &::-webkit-input-placeholder{opacity: 1; color: rgba(0, 0 , 0, .6);}
  &::-moz-placeholder{opacity: 1; color: rgba(0, 0 , 0, .6);}
  &:-moz-placeholder{opacity: 1; color: rgba(0, 0 , 0, .6);}
  &:-ms-input-placeholder{opacity: 1; color: rgba(0, 0 , 0, .6);}
  &:placeholder{opacity: 1;color: rgba(0, 0 , 0, .6);}
  /*webkit autocomplit input*/
  &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 100px rgba(0, 0 , 0, .87) !important;
      -webkit-text-fill-color: #fff !important;
      color: #fff !important;
  }
  /*error*/
  &.error{
      border-color: var(--clr-error);
  }
  
}
.input:focus:required:valid,
.textarea:focus:required:invalid{color: var(--clr-input);}
.input:required:valid,
.textarea:required:valid{color: var(--clr-input);}