.code-groupe{
  position: relative;
  padding-bottom: 3.8rem;
  &__inputs{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__input{
    @include input-reset;
    font-size: 2rem;
    background-color: var(--clr-code-input-bg);
    color: var(--clr-code-input-txt);
    box-shadow: var(--clr-code-input-shd);
    border: 1px solid var(--clr-code-input-brd);
    border-radius: .4rem;
    width: 4.8rem;
    height: 4.8rem;
    text-align: center;
    margin: 0 .4rem;
    &:focus{
      border-color: var(--clr-code-input-brd-focus);
      background-color: var(--clr-code-input-bg-focus);
      color: var(--clr-code-input-txt-focuse);
    }
    &.error{
      border-color: var(--clr-error);
      background-color: var(--clr-code-input-bg-focus);
      color: var(--clr-code-input-txt-focuse);
    }
  }
}