.item-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0;
  border-bottom: 1px solid rgba(220, 220, 220, .5);
  &:last-child{border-bottom: none;}
  &__main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
  }
  &__more{
    @include btn-reset;
    color: rgba(0, 0, 0, .6);
    width: 2.4rem;
    min-width: 2.4rem;
    margin-left: .8rem;
    .material-icons{font-size: 2.4rem;}
  }
  &__avatar{
    width: 3.2rem;
    min-width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 1px solid #DCDCDC;
    overflow: hidden;
    margin-right: .6rem;
    .material-icons{font-size: 1.6rem;}
  }
  &__icon{
    width: 3.2rem;
    min-width: 3.2rem;
    margin-right: .6rem;
    font-size: 0;    
    &_yellow{color: var(--clr-rait);}
    &_green{color: var(--clr-green);}
    &_red{color: var(--clr-error);}
    .material-icons{font-size: 3.2rem;}
  }
  &__title{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    @include h4;
    color: rgba(0, 0, 0, .87);
    .material-icons{
      font-size: 1.4rem;
      vertical-align: middle;
      margin-left: .4rem;
    }
  }
  &__time,
  &__txt{
    @include txt-xs;
    color: rgba(0, 0, 0, .6);
  }
}