.search-result{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  &__list{
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
  }
  &__callback{
    @include txt-xxs;
    color: var(--clr-txt-light);
    padding: 1.6rem;
    text-align: center;
  }
  &__item{
    @include txt-xxs;
    color: var(--clr-txt-light);
    padding: 1rem 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--clr-border);
  }
  &__clear{
    @include btn-reset;
    @include txt-xxs;
    color: var(--clr-link);
    width: 100%;
    text-align: center;
    text-decoration: underline;
    padding: 1.6rem 1.6rem 3.2rem;
  }
}